.wrapper {
  text-align: center;
}
.title {
  font-size: 50px;
  font-weight: 700;

  margin-bottom: 40px;
}
.subtitle {
  font-size: 36px;
  font-weight: 500;

  margin-bottom: 40px;
}
.link {
  padding: 20px;

  font-size: 24px;
  font-weight: 500;
  text-decoration: none;

  color: #0078d7;
}
