.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: all, 0.3s;

  cursor: pointer;
  &:hover {
    background-color: var(--main-bg-color);
    transform: translateY(5px) scale(1.01);
  }
  &__img {
    display: block;
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;

    &-wrapper {
      display: block;
      max-width: 320px;
      max-height: 200px;
      margin-bottom: 15px;
      border-radius: 10px;
      border: 2px solid var(--main-text-color);

      overflow: hidden;
    }
  }
  &__name {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }
}
